



<div class="jumbotron">
    <h2>Why T.M.C?</h2>
    <p class="lead">Taj M Consulting (T.M.C) is a personalized IT staffing and IT recruiting company with a growing network of 40,000+ IT professionals. We specialize in providing IT professionals for contract, contract-to-hire, and direct placements as well as Data Integrations. Since 2002, TPS has been connecting employers and IT Professionals for Fortune 500, mid-market, and emerging companies.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Online Consulting</h2>
        <img src="~/Content/Images/company1.png" />
        <p> We have taken the Online Consulting to a whole new level providing our Customers with cutting edge technologies in descent prices. </p>
    </div>
    <div class="col-md-4">
        <h2>Industry Knowledge</h2>
        <img src="~/Content/Images/company2.png" />
        <p> Having spent more than a decade in this industry, we know our goals very well and always strive to make the best out of everything. </p>
    </div>
    <div class="col-md-4">
        <h2>Time Saving</h2>
        <img src="~/Content/Images/company3.png" />
        <p> Customer Satisfaction is the key thing that we focus on and our clients know the importance of Time Saving Strategy and we master in it. </p>
    </div>
</div>
