
@{
    ViewBag.Title = "News";
}

<div class="jumbotron">
    <h3>From our Headquarters</h3>
    <p class="lead">Taj M Consulting provides you with latest and exciting news from all around the IT world.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Review Policies &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>NOVEMBER 29, 2016</h3>
        <a href="#">National Petrochemical Industrial Company Achieves First with RC 14001:2015 Certification &raquo;</a>
        <p>
            Taj M Consulting issues first certificate globally for RC 14001:2015.
            Purpose is to let the World know about the future of consulting
            services our company plans to provide.
        </p>
        
    </div>
    <div class="col-md-4">
        <h3>SEPTEMBER 1, 2016</h3>
        <a href="#">Tools for Enterprise Risk Management &raquo;</a>
        <p>
            Taj M Consulting issues first certificate globally for RC 14001:2015.
            Purpose is to let the World know about the future of consulting
            services our company plans to provide.
        </p>

    </div>
    <div class="col-md-4">
        <h3>JUNE 16, 2016</h3>
        <a href="#">Contract for Hornsea Offshore Wind Farm &raquo;</a>
        <p>
            Taj M Consulting issues first certificate globally for RC 14001:2015.
            Purpose is to let the World know about the future of consulting
            services our company plans to provide.
        </p>

    </div>
</div>